body {
  font-family: Arial, Helvetica, sans-serif;
}

.weather-app-wrapper {
  margin: 30px auto;
  max-width: 600px;
}
.weather-app {
  border: 1px solid #daddda;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 0px;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  text-align: left;
  margin-bottom: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
  text-transform: capitalize;
  color: rgb(135, 135, 135);
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 100;
  line-height: 64px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

#fahrenheit-link {
  text-decoration: none;
}
#celcius-link {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}
